* {
  margin: 0;
}
.App {
  background-color: #fafafa;
  height: 100%;
}
.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
}
.app__headerImage {
  object-fit: contain;
}

/* post style */
.post {
  background-color: #ffffff;
  border: 1px solid lightgray;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.post__avatar {
  margin-right: 10px;
}
.post__title {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  padding: 20px;
}
.post__title strong {
  margin-right: 10px;
}
.app__signup {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imageUpload {
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 49%;
  background-color: #ffffff;
}
.imageUpload__progress {
  width: 100%;
  margin: 10px 0;
}

.imageUpload input {
  margin: 10px 0;
}
.app__avatar {
  display: inline-flex;
}
